<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Pumpkin Master</h1>
        <div class="hero-wrapper">
            <picture>
                <source srcset="
                /img/hero/logo-desk.png 1x,
                /img/hero/logo-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
                /img/hero/logo-mob.png  1x,
                /img/hero/logo-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
                <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Pumpkin Master" loading="lazy" />
            </picture>
            <div class="hero-text-wrapper">
            <h2 class="hero-subtitle">It's basically a Halloween game where you click on pumpkins and see what happens.</h2>
            <p class="home-text">Welcome to Pumpkin Master! It's this fun Halloween game I put together where you basically just click around and
            discover stuff.<br/> Rows of mysterious pumpkins await, each ready to reveal something unexpected. It's got that fun
            Halloween vibe without being too scary.</p>
            <a class="hero-button" href="#demo">
                <img class="hero-btn pulse" src="/img/hero/btn.png" alt="Enter" loading="lazy" />
            </a></div>
        </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-container">
        <h2 class="visually-hidden">Disclaimer</h2>
        <p class="disclaimer-text"><span class="disclaimer-span">jackgrid.site</span> IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF SUCCESS PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS SUCCESS IN
        REAL LIFE ACTIVITIES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
    </div>
</section>
<section class="big-section">
    <article class="about-section" id="about">
        <div class="container about-container">
            <h2 class="about-title">ABOUT GAME</h2>
            <div class="about-text-wrapper">
                <p class="about-text">Pumpkin Master takes place in a festively decorated Halloween setting filled with glowing pumpkins and hidden
                surprises.<br/>I wanted to keep it super simple - you don't need instructions or anything, just start clicking and you'll
                figure it out, it's pretty simple - just click around and see what you find</p>
                <p class="about-text-two">Each pumpkin can reveal rewards, visual effects, or special events that change the pace of play. With pumpkins appearing
                endlessly, the experience encourages exploration and keeps things interesting so you don't get bored.</p>
            </div>
        </div>
    </article>
</section>