<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Pumpkin Master</h1>
        <div class="hero-wrapper">
            <picture>
                <source srcset="
                /img/hero/logo-desk.png 1x,
                /img/hero/logo-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
                /img/hero/logo-mob.png  1x,
                /img/hero/logo-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
                <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Pumpkin Master" loading="lazy" />
            </picture>
            <div class="hero-text-wrapper">
            <h2 class="hero-subtitle">It's basically a Halloween game where you click on pumpkins and see what happens.</h2>
            <p class="home-text">Welcome to Pumpkin Master! It's this fun Halloween game I put together where you basically just click around and
            discover stuff.<br/> Rows of mysterious pumpkins await, each ready to reveal something unexpected. It's got that fun
            Halloween vibe without being too scary.</p>
            <a class="hero-button" href="#demo">
                <img class="hero-btn pulse" src="/img/hero/btn.png" alt="Enter" loading="lazy" />
            </a></div>
        </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-container">
        <h2 class="visually-hidden">Disclaimer</h2>
        <p class="disclaimer-text"><span class="disclaimer-span">jackgrid.site</span> IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF SUCCESS PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS SUCCESS IN
        REAL LIFE ACTIVITIES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
    </div>
</section>
<section class="big-section">
    <article class="about-section" id="about">
        <div class="container about-container">
            <h2 class="about-title">ABOUT GAME</h2>
            <div class="about-text-wrapper">
                <p class="about-text">Pumpkin Master takes place in a festively decorated Halloween setting filled with glowing pumpkins and hidden
                surprises.<br/>I wanted to keep it super simple - you don't need instructions or anything, just start clicking and you'll
                figure it out, it's pretty simple - just click around and see what you find</p>
                <p class="about-text-two">Each pumpkin can reveal rewards, visual effects, or special events that change the pace of play. With pumpkins appearing
                endlessly, the experience encourages exploration and keeps things interesting so you don't get bored.</p>
            </div>
        </div>
    </article>
    <article class="demo-section" id="demo">
        <div class="container demo-container">
            <div class="game-wrapper">
            <h2 class="demo-title">The Game</h2>
            <div class="demo-text-wrapper">
                <p>At the center of Pumpkin Master is a field of interactive pumpkins.When you click a pumpkin, you get these cool little
                animations and spooky sounds - nothing too scary though, just fun Halloween vibes.</p>
                <p>Every now and then you'll hit a special pumpkin that triggers this mini bonus round - gets your heart racing a bit
                before settling back into the regular rhythm.</p>
            </div>
        </div>
            <div class="demo-wrapper">
                <picture>
                    <source srcset="
                    /img/demo/demo-desk.png 1x,
                    /img/demo/demo-desk@2x.png 2x
                    " media="(min-width: 1440px)" />
                    <source srcset="
                    /img/demo/demo-mob.png 1x,
                    /img/demo/demo-mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                    <img class="game-img" src="/img/demo/demo-mob.png" alt="Forest Dreams" loading="lazy" />
                </picture>
    
    
                <div class="iframe-wrapper">
                    <iframe id="gameIframe" name="gameIframe"></iframe>
    
                    <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                        <img class="close-img" src="/img/demo/close.png" alt="Close">
                    </button>
                </div>
            </div>
            <a class="demo-btn" href="#"
                data-game-url="https://demo.evoplay.games/demo/instant/html5/evoplay/pumpkinmaster " target="gameIframe">
                <img class="demo-img" src="/img/demo/btn.png" alt="Play Free" loading="lazy" />
            </a>
        </div>
    </article>
    <!-- REVIEWS -->
    <article class="reviews-section">
        <div class="container reviews-container">
            <h2 class="reviews-title">What Players Say</h2>
        <div class="swiper reviews-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide reviews-slide">
                    <img class="spider" src="/img/reviews/spider.png" alt="spider" loading="lazy">
                    <p class="reviews-text">“The special events keep things interesting without feeling overwhelming.”</p>
                </div>
                <div class="swiper-slide reviews-slide">
                    <img class="spider" src="/img/reviews/spider.png" alt="spider" loading="lazy">
                    <p class="reviews-text">“Great for when you want something Halloween-y to play.”
</p>
                </div>
                <div class="swiper-slide reviews-slide">
                    <img class="spider" src="/img/reviews/spider.png" alt="spider" loading="lazy">
                    <p class="reviews-text">“Smooth gameplay and charming design.”
</p>
                </div>
                <div class="swiper-slide reviews-slide">
                    <img class="spider" src="/img/reviews/spider.png" alt="spider" loading="lazy">
                    <p class="reviews-text">“I like how it's Halloween-themed but not actually creepy. I love the pumpkin interactions.”</p>
                </div>
                <div class="swiper-slide reviews-slide">
                    <img class="spider" src="/img/reviews/spider.png" alt="spider" loading="lazy">
                    <p class="reviews-text">“Honestly addictive! Each pumpkin's like a little surprise box - sometimes you get nothing, sometimes something awesome
                    happens.”</p>
                </div>
                <div class="swiper-slide reviews-slide">
                    <img class="spider" src="/img/reviews/spider.png" alt="spider" loading="lazy">
                    <p class="reviews-text">“Great seasonal atmosphere. Easy to understand and relaxing.”
</p>
                </div>
            </div>
        </div>
    
        <div class="reviews-nav">
            <button class="reviews-prev slide-btn">
            <svg class="arrow" width="10" height="29" viewBox="0 0 10 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.280001 13.9599C0.0933332 14.1039 0 14.2839 0 14.5C0 14.7161 0.0933332 14.8961 0.280001 15.0401L8.84 20.7873C9.16 21.0177 9.43333 21.0609 9.66 20.9169C9.88667 20.7729 10 20.4848 10 20.0527V8.94733C10 8.51521 9.88667 8.22714 9.66 8.0831C9.43333 7.93906 9.16 7.98227 8.84 8.21273L0.280001 13.9599Z"
                     />
            </svg>
            </button>
            <button class="reviews-next slide-btn">
            <svg class="arrow" width="10" height="29" viewBox="0 0 10 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9.72 13.9599C9.90667 14.1039 10 14.2839 10 14.5C10 14.7161 9.90667 14.8961 9.72 15.0401L1.16 20.7873C0.84 21.0177 0.566667 21.0609 0.34 20.9169C0.113333 20.7729 0 20.4848 0 20.0527V8.94733C0 8.51521 0.113333 8.22714 0.34 8.0831C0.566667 7.93906 0.84 7.98227 1.16 8.21273L9.72 13.9599Z"
                   />
            </svg>
            </button>
        </div>
    </div>
    </article>
    
    <!-- SIMILAR -->
    <article class="similar-section">
        <div class="container similar-container">
            <h2 class="similar-title">SIMILAR GAMES</h2>
        <div class="swiper similar-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide similar-slide">
                    <div class="slide-inner">
                    <img class="slide-img" src="/img/similar/one.png" alt="Patrick`s" loading="lazy">
                    </div>
                </div>
                <div class="swiper-slide similar-slide">
                    <div class="slide-inner">
                    <img class="slide-img" src="/img/similar/two.png" alt="Courier" loading="lazy">
                    </div>
                </div>
                <div class="swiper-slide similar-slide">
                    <div class="slide-inner">
                    <img class="slide-img" src="/img/similar/three.png" alt="Mine field" loading="lazy">
                    </div>
                </div>
                <div class="swiper-slide similar-slide">
                    <div class="slide-inner">
                    <img class="slide-img" src="/img/similar/four.png" alt="Treasures" loading="lazy">
                    </div>
                </div>
                <div class="swiper-slide similar-slide">
                    <div class="slide-inner">
                    <img class="slide-img" src="/img/similar/one.png" alt="Patrick`s" loading="lazy">
                    </div>
                </div>
                <div class="swiper-slide similar-slide">
                    <div class="slide-inner">
                    <img class="slide-img" src="/img/similar/two.png" alt="Courier" loading="lazy">
                    </div>
                </div>
                <div class="swiper-slide similar-slide">
                    <div class="slide-inner">
                    <img class="slide-img" src="/img/similar/three.png" alt="Mine field" loading="lazy">
                    </div>
                </div>
                <div class="swiper-slide similar-slide">
                    <div class="slide-inner">
                    <img class="slide-img" src="/img/similar/four.png" alt="Treasures" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    
        <div class="similar-nav">
            <button class="similar-prev slide-btn">
                <svg class="arrow" width="10" height="29" viewBox="0 0 10 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.280001 13.9599C0.0933332 14.1039 0 14.2839 0 14.5C0 14.7161 0.0933332 14.8961 0.280001 15.0401L8.84 20.7873C9.16 21.0177 9.43333 21.0609 9.66 20.9169C9.88667 20.7729 10 20.4848 10 20.0527V8.94733C10 8.51521 9.88667 8.22714 9.66 8.0831C9.43333 7.93906 9.16 7.98227 8.84 8.21273L0.280001 13.9599Z" />
                </svg>
            </button>
            <button class="similar-next slide-btn">
                <svg class="arrow" width="10" height="29" viewBox="0 0 10 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.72 13.9599C9.90667 14.1039 10 14.2839 10 14.5C10 14.7161 9.90667 14.8961 9.72 15.0401L1.16 20.7873C0.84 21.0177 0.566667 21.0609 0.34 20.9169C0.113333 20.7729 0 20.4848 0 20.0527V8.94733C0 8.51521 0.113333 8.22714 0.34 8.0831C0.566667 7.93906 0.84 7.98227 1.16 8.21273L9.72 13.9599Z" />
                </svg>
            </button>
        </div>
    </div>
    </article>

</section>