body{
  font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.55556;
}
h2 {
  font-family: "Orelega One", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;

  background: linear-gradient(360deg, #ff841a 0%, #fffd38 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ff0000;
}
@media only screen and (min-width: 1440px) {
  h2{
    font-size: 50px;
  }
  body{
    font-size: 24px;

  }
}