.footer{
  background-image: url("/img/footer/mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.footer-container{
  padding: 169px 20px 37px;
}
.footer-navigation{
  display: flex;
  justify-content: center;
  font-family: "Orelega One", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
    gap: 12px;
}
.footer-text{
  margin-top: 24px;
  font-family: "Orelega One", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    text-align: center;
    color: #fff;
}
@media only screen and (min-width: 1440px) {
  .footer{
    background-image: url("/img/footer/desk.png");
  }
  .footer-container{
    padding: 76px 276px 78px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-navigation{
    gap: 20px;
  }
  .footer-text{
    margin-top: 0;
    font-size: 14px;
      line-height: 1.42857;
  }
}