.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
}
.hero-container{
    padding-bottom: 24px;

}
.hero-subtitle{
    font-size: 44px;
}
.home-text{
    margin-top: 20px;
    font-family: "Red Hat Text", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
        text-align: center;
        color: #fff;
        width: 326px;
        margin-left: auto;
        margin-right: auto;
}
@media only screen and (min-width: 1440px) {
    .hero-section{
    background-image: url("/img/hero/desk.png");
    height: 800px;
    }
    .hero-container{
        padding-left: 20px;
    }
    .hero-wrapper{
        display: flex;
        align-items: center;
        margin-top: 80px;
    }
    .hero-text-wrapper{
        width: 810px;
            height: 440px;
    }
    .hero-subtitle{
        font-size: 54px;
        line-height: 1.11111;
    }
    .home-text{
        width: 100%;
        font-size: 24px;
    }
}